.headerContainer {
    display: flex;
    flex-direction: column;
}

.headerContainer header {
    width: 410px;
    min-height: 184px;
    background: var(--gradient-light);
    display: flex;
    justify-content: center;
}

.headerContainer header img {
    margin-top: -48px;
}

.backButtonContainer .backButton {
    cursor: pointer;
}

.backButtonContainer {

}