.headerContainer {
    display: flex;
    flex-direction: column;
}

.headerContainer header {
    width: 410px;
    min-height: 184px;
    background: var(--gradient-light);
    display: flex;
    justify-content: center;
}

.headerContainer header img {
    display: flex;
    margin-top: -48px;
}

.backButtonContainer {
    position: fixed;
    padding-top: 24px;
    padding-left: 20px;
    cursor: pointer;
    height: 24px;
    width: 24px;
}
